<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <session-config>
        <session-timeout>15</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>ROLE_ADMIN_GRAL</web-resource-name>
            <url-pattern>/index.do</url-pattern>
           
            <url-pattern>/catalogos/centroInvestigacion.do</url-pattern>
             <url-pattern>/catalogos/grupoAcademico.do</url-pattern>
             <url-pattern>/catalogos/investigador.do</url-pattern>
             <url-pattern>/catalogos/lineaInvestigacion.do</url-pattern>
             <url-pattern>/catalogos/proyectosInvestigacion.do</url-pattern>
             <url-pattern>/catalogos/registroCentroInvestigacion.do</url-pattern>
             <url-pattern>/catalogos/registroGrupoAcademico.do</url-pattern>
             <url-pattern>/catalogos/registroInvestigador.do</url-pattern>
             <url-pattern>/catalogos/registroLineaInvestigacion.do</url-pattern>
             <url-pattern>/catalogos/registroProyectosInvestigacion.do</url-pattern>
             <url-pattern>/catalogos/registroTesista.do</url-pattern>
             <url-pattern>/catalogosregistroUsuarios.do</url-pattern>
             <url-pattern>/catalogos/tesista.do</url-pattern>
             <url-pattern>/catalogos/usuarios.do</url-pattern>
             
           
            
        </web-resource-collection>
        <auth-constraint>
            <role-name>ROLE_ADMIN_GRAL</role-name>
        </auth-constraint>
    </security-constraint>
  
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Public pages</web-resource-name>
            <url-pattern>/login.do</url-pattern>
            
        </web-resource-collection>
    </security-constraint>
        
        
    <security-role>
        <role-name>ROLE_ADMIN_GRAL</role-name>        
    </security-role>
    
    

    <!-- Change to "Production" when you are ready to deploy -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
    <param-name>primefaces.SUBMIT</param-name>
    <param-value>partial</param-value>
</context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>admin</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.MOVE_SCRIPTS_TO_BOTTOM</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.numberOfLogicalViews</param-name>
        <param-value>6</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.numberOfViewsInSession</param-name>
        <param-value>6</param-value>
    </context-param>
    <context-param>
        <param-name>org.omnifaces.VIEW_SCOPE_MANAGER_MAX_ACTIVE_VIEW_SCOPES</param-name>
        <param-value>6</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
        <param-value>65535</param-value>    
    </context-param>

    <welcome-file-list>
        <welcome-file>login.do</welcome-file>
        <welcome-file>resetPassword.do</welcome-file>        
    </welcome-file-list>
    <error-page>
        <error-code>403</error-code>
        <location>/403.do</location>
    </error-page>
    <error-page>
        <exception-type>com.github.adminfaces.template.exception.AccessDeniedException</exception-type>
        <location>/403.do</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.do</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.do</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/500.do</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/expired.do</location>
    </error-page>
    <error-page>
        <exception-type>javax.persistence.OptimisticLockException</exception-type>
        <location>/optimistic.do</location>
    </error-page>
    <mime-mapping>
        <extension>ico</extension>
        <mime-type>image/x-icon</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/font-woff2</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/font-sfnt</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>otf</extension>
        <mime-type>font/opentype</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>jsp</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <filter>
        <filter-name>gzipResponseFilter</filter-name>
        <filter-class>org.omnifaces.filter.GzipResponseFilter</filter-class>
        <init-param>
            <description>The threshold size in bytes. Must be a number between 0 and 9999. Defaults to 150.
            </description>
            <param-name>threshold</param-name>
            <param-value>200</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>gzipResponseFilter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
  
    <filter>
        <filter-name>javamelody</filter-name>
        <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
		<param-name>authorized-users</param-name>
		<param-value>carlosaguilar:MWxAR3WgeknZc4</param-value>
	</init-param>
    </filter>
    <filter-mapping>
        <filter-name>javamelody</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>net.bull.javamelody.SessionListener</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

   
    
</web-app>
